.tools-panel {
  max-width: 30%;
  overflow-x: hidden;
}

.code-panel label {
  margin-left: 0.25em;
}

.code-panel input[type=text] {
  width: 3em;
  margin-left: 0.25em;
}

.code-panel button {
  margin-left: 0.25em;
}

.code-display {
  background-color: #2f2f2f;
  color: #f0f0f0;
  border-radius: 0.5em;
  font-size: 1.5em;
  border-collapse: collapse;
  padding: 0.5em;
}

.code-display .pc-line {
  background-color: #494992;
}

.code-display .breakpoint-line {
  background-color: rgb(185, 91, 57);
}

.code-display .focus-line {
  background-color: lightslategray;
}

.breakpoint {
  opacity: 0;
  text-align: center;
  vertical-align: middle;
}

.breakpoint.breakpoint-active {
  opacity: 1;
}

.breakpoint:hover {
  opacity: 1;
}

.breakpoint {
  accent-color: coral;
}

.code-display td {
  padding: 0;
}

.code-display pre {
  margin: 0;
}

.cpu-control-button {
  width: 6em;
}
