body {
  background-color: #285db1;
  font-family:Verdana, Geneva, Tahoma, sans-serif;

  max-width: 800px;
  margin: 0 auto;
  padding: 0.5em;
}

.narrow {
  width: 4em;
}

.memory-table th {
  min-width: 4em;
}

.flex-horizontally {
  display: flex;
  justify-content: left;
  align-items: flex-start;
}

.flex-horizontally > * + * {
  margin-left: 2em;
}

.pallete-block {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  text-align: center;
  margin-left: 0.5em;
  vertical-align: middle;
}

.screen {
  display: block;
  margin: 0 auto;
}

.pixelated {
  image-rendering: pixelated;
}

.tabs-content {
  background-color: rgb(203, 213, 207);
  border: 1px solid slategray;
  border-radius: 0 0 0.25em 0.25em;
  padding: 1em;
}

.tabs ul {
  list-style-type: none;
  margin-bottom: 0;
  padding: 0;
}

.tabs ul li {
  display: inline-block;
  vertical-align: bottom;
}

.tabs ul li.selected {
  display: inline-block;
  border-radius: 0.5em 0.5em 0 0;
  border: 1px solid slategray;
  padding: 0.25em;
  background-color: lightgray;
}

.tabs ul li button {
  display: inline-block;
  border-radius: 0.5em 0.5em 0 0;
  border: 1px solid slategray;
}

.tabs ul li + li {
  display: inline-block;
  margin-left: 0.125em;
}

.screen {
  display: block;
  width: 320px;
  height: 288px;
}

.console {
  background-color: #9e98a1;
  max-width: 400px;
  margin: 0 auto;
  padding: 1em 0.5em 3em 0.5em;
  border-radius: 0.5em 0.5em 3em 0.5em;
  box-shadow: 0 2px 1px #504c4c;
}

.bevel {
  background-color: darkslategray;
  padding: 1em 0.5em 2em 0.5em;
  border-radius: 0.5em 0.5em 2em 0.5em;
  margin-bottom: 1em;
}

label + input,
input + label,
label + select {
  margin-left: 1em;
}

select {
  margin-bottom: 0.5em;
}

.control-buttons {
  height: 2em;
  padding-top: 1em;
  width: 17em;
}

.floating-panel {
  background-color: rgb(203, 213, 207);
  padding: 0.25em 0.75em;
  border-radius: 0.25em 0.25em 1.5em 0.25em;
  margin-bottom: 1em;
  box-shadow: 0 2px 1px #352f2f;
}

.chunky-button {
  display: inline-block;
  background-color: #285db1;
  border-radius: 0;
  border: none;
  box-shadow: 0 0.25em rgb(7, 7, 125);
  vertical-align: top;
  padding: 0.25em 0.5em;
  font-weight: bolder;
  color: rgb(234, 230, 224);
  border-radius: 2px;
}

.action-button {
  background-color: green;
  box-shadow: 0 0.25em rgb(2, 48, 2);
}

.danger-button {
  background-color: rgb(210, 31, 31);
  box-shadow: 0 0.25em rgb(48, 2, 2);
}

.chunky-button:active {
  margin-top: 0.25em;
  box-shadow: 0 0;
}

.chunky-button + .chunky-button {
  margin-left: 0.5em;
}

h1 {
  color: rgb(203, 213, 207);
  font-size: 64px;
  text-align: center;
  margin: 0.125em 0;
  text-shadow: 0 2px 1px #352f2f;
}

.tileset-debug-canvas {
  image-rendering: pixelated;
  width: 256px;
  height: 256px;
}

.background-debug-canvas {
  image-rendering: pixelated;
  width: 512px;
  height: 512px;
}

.tilemap-info {
  display: inline-block;
  margin-left: 0.5em;
  vertical-align: top;
}

.sprite-info-canvas-8 {
  image-rendering: pixelated;
  width: 16px;
  height: 16px;
}

.sprite-info-canvas-16 {
  image-rendering: pixelated;
  width: 16px;
  height: 32px;
}